<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>Portable C++ Framework - Reference Guide</string>
     <key>CFBundleIdentifier</key>
     <string>pcf.Framework</string>
     <key>CFBundleVersion</key>
     <string>0.2.0</string>
     <key>DocSetFeedName</key>
     <string>Pcf Framework</string>
     <key>DocSetPublisherIdentifier</key>
     <string>pcf.Framework.Pcf</string>
     <key>DocSetPublisherName</key>
     <string>Pcf</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
